* {
    padding: 0;
    margin: 0;
    transition: all 1s linear 0s;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/*Start navigation bar*/
  .navbar .btn{
    margin-left: 10px
  }

  .navbar span.contact{
    color: #4F5152;
    font-weight: bold;
    margin-left: 5px

  }
/*End navigation bar*/


/* Start Header */


header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/landing3.jpg") no-repeat center;
  /*Compatibility with all browsers*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2.8rem;
  color: #FAE2A1;
  font-family: 'Saira Condensed', sans-serif;
  margin-bottom: 30px;
  font-weight:bold;
  letter-spacing: 1px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

header.masthead p{
  color: #E0ECE8;
  font-size: 20px;
  font-weight: 4px
}

/*End Header */